*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: url(img/392ae929-f007-4168-802e-df7f5d625058.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.6);
    border-radius: 10px;
   box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
.box h1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.box .inputbox input{
    width: 100%;
    padding: 10px 0;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
.inputbox{
    position: relative;
    margin-bottom: 30px;
}
.box .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.box .inputbox input:valid ~label,
.box .inputbox input:focus ~label
{


    top: -10px;
    color: #03a9f4;
    font-size: 16px;
}
.box .submit {
    border: none;
    outline: none;
    color: white;
    background: #03a9f4;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}
